/*-dashboard-*/

.menu-link.active {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    text-decoration: none;
}

/* Topbar container */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo img {
    max-height: 70px;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.profile-name {
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-right: 5px;
}

.dropdown-arrow {
    font-size: 18px;
}

.profile-dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    z-index: 999;
}

.profile-dropdown li {
    border-bottom: 1px solid #eee;
}

.profile-dropdown li:last-child {
    border-bottom: none;
}

.profile-dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0px !important;
}

.dashboard-screen .container-fluid {
    padding: 0;
}

.card-icon i {
    color: #fff !important;
    font-size: 20px;
}

.profile-dropdown li a:hover {
    background-color: #f0f0f0;
}

.menu-item,
a {
    font-weight: 500;
    display: block;
    padding: 14px 10px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
    font-size: 13px;
    margin-bottom: 10px;
}
.menu-title.active {
    background-color: transparent !important;
}
.submenu {
    margin-top: 15px;
}

.main-right {
    overflow: auto;
}

.sidebar {
    width: 17vw;
    background-color: #0d3a6b;
    color: white;
    padding-top: 30px;
    padding-left: 15px;
    font-family: "Inter", sans-serif;
    padding-right: 15px;
    overflow: auto;
    height: calc(100vh - 111px);
}
.sidebar .menu-item:hover, a:hover .submenu a {
    color: #000 !important;
}
.sidebar .submenu:hover a {
    color: #000;
}

.card-body h2 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.sidebar i {
    margin-right: 6px;
    font-size: 18px;
}

.menu-item:hover,
a:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
}

.sidebar .submenu a:hover {
    color: #000 !important;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sidebar .menu-item.dropdown:active .submenu a {
    color: #000 !important;
}
.arrow {
    font-size: 14px;
    transition: transform 0.3s;
}

.sidebar .submenu {
    display: none;
    padding-left: 20px;
}

.submenu a {
    padding: 8px 0;
    display: block;
    font-size: 13px;
}

.dropdown.active .submenu {
    display: block;
}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

.right-side h2:first-child {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.row.second-card {
    margin-top: 20px;
}

.main-right .stat-card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    width: 100%;
}

.main-right .stat-card .arrow-icon {
    font-size: 25px;
    transform: rotate(-35deg);
    margin-right: 12px;
}
.main-right .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-right .card-header h4 {
    font-size: 17px;
    font-weight: 600;
    color: #000;
    opacity: 0.6;
    font-family: "Inter", sans-serif;
    margin-bottom:0;
}

.main-content {
    display: flex;
    height: calc(100vh - 111px);
    overflow: hidden;
}

.main-right {
    width: calc(100% - 17vw);
    padding-inline: 15px;
    height: calc(100vh - 111px);
    overflow: auto;
}

.main-right .card-icon img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.main-right .card-icon {
    width: 50px;
    height: 50px;
    background: #3dc0c6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right .card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}

.main-right .card-body h2 {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.main-right .arrow-icon {
    font-size: 20px;
    transform: rotate(45deg);
}

.dashboard-screen {
    background: #F6F6F6;
}

.dashboard-screen .col-md-2 {
    padding: 0;
}

.graph {
    background: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ddd;
    margin: 25px auto;
}

.graph .filter-container {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.chart img {
    width: 100%;
}

.graph .filter-select, .filter-date {
    padding: 12px 15px !important;
    font-size: 14px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    font-family: "Inter", sans-serif;
    appearance: none;
    background-image: url("../images/dropdown-arrow.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    font-weight: 500;
    color: #00000087;
    width: 100%;
    max-width: 190px;
}
.daterangepicker.ltr.show-calendar.opensleft td.available {
    padding: 15px 20px !important;
}
div#employee-table_paginate a.paginate_button:hover {
    padding: 13px 20px !important;
    border: none !important;
    border-radius: 5px !important;
    transition: 0.3s;
    background: #0d3a6b !important;
    color: #fff !important;
}
.graph button#filterLogs {
    width: 100%;
    max-width: 150px;
    font-family: "Inter", sans-serif;
}
table#employee-table {
    width: 100% !important;
}
.graph button#reset {
    width: 100%;
    max-width: 150px;
    font-family: "Inter", sans-serif;
}
.main-right .right-side h2 {
    margin-top: 30px;
}
.graph .filter-container input.filter-date {
    background-image: none !important;
}

.main-right .stats-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
}

.stat-button {
    background-color: #0d3d72;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-bottom: 0;
    width: 100%;
    max-width: 200px;
}

.card-body h2 {
    font-size: 35px !important;
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif;
    margin-top: 0px !important;
}

.stat-button:hover {
    background-color: #51c1c8;
}

a.stat-button:hover {
    color: #fff !important;
}

.menu-item.dropdown:active {
    background: #fff;
    color: #000;
}

.card-icon.icon2 {
    background: #D7E35C;
}

.card-icon.icon3 {
    background: #0E3C70;
}

.card-icon.icon4 {
    background: #FF0202;
}

.card-icon.icon5 {
    background: #5FBC01;
}

.card-icon.icon6 {
    background: #9747FF;
}

.card-icon.icon7 {
    background: #51C1C8;
}

.card-icon.icon8 {
    background: #5FBC01;
}
.daterangepicker {
    width: 100% !important;
    max-width: 670px !important;
}

/*-dashboard-*/

/*-submanager-listing-*/
.right-side.submanager .card-icon.acti {
    background: #5FBC01;
}
.card-icon.acti {
    background: #5FBC01;
}
.card-icon.inactive {
    background: #FF0202;
}
.add-submanager a:hover {
    color: #fff;
    transition: 0.3s;
}
.right-side.submanager .card-icon.inactive {
    background: red;
}
 .add-submanager a {
    background: #0E3C70;
    width: 100%;
    max-width: 200px;
    text-align: center;
    float: right;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-right: 17px;
}
.right-side.submanager .add-submanager a:hover {
color:#fff;
}

/*-table-*/
.graph thead.thead-main tr th {
    padding: 25px 18px !important;
    background: #0d3a6b;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.graph table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}
.graph tr td {
    padding: 25px 15px !important;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.graph thead {
    background: #0d3a6b;
}
.graph tr td:nth-child(6) {
    text-align: center;
}
.graph tr td:nth-child(7) {
    text-align: center;
}
.graph tbody tr:nth-child(even) {
    border-bottom: 1px solid #ddd !important;
}
.graph tbody tr:nth-child(even) {
    border-bottom: 0;
}
.graph th, td {
    padding: 30px 20px;
    text-align: left;
    font-size: 14px;
}
.graph tbody tr:nth-child(even) {
    background: #F6F6F6;
}
.graph h2 {
    margin-top: 0px !important;
}
.graph .table-container {
    border: 1px solid #ddd;
    border-radius: 10px !important;
    overflow-x:auto;
}
.graph tbody tr:hover {
    background: #f1f1f1;
}
.right-side.submanager .actions i {
    margin: 0 5px;
    cursor: pointer;
    color: #555;
	background: #0d3a6b;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.right-side.submanager .actions i:hover {
    color: #fff;
}
.right-side.submanager .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    gap: 5px;
}
.graph td p.view_emp {
    color: #5FBC01 !important;
}
.right-side.submanager .pagination button {
    background: #F5F5F5;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid #ddd;
}
.right-side.submanager .pagination button.active {
    background: #51C1C8;
    color: #fff;
}

.right-side.submanager .pagination button:hover {
    background: #51C1C8;
    color: white;
}
.right-side.submanager thead tr th:nth-child(3) {
    text-align: center;
}
.right-side.submanager .add-submanager a:hover {
    background: #51c1c8;
}
div#employee-table_paginate a.paginate_button.current {
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 37px;
    margin-bottom: 35px;
    background:transparent !important;
}
table#employee-table {
    margin: 0;
    padding: 0;
}
.view_emp {
    color: #212529 !IMPORTANT;
    margin-bottom: 0;
}
div#employee-table_length {
    padding: 25px;
}
.modal-header {
    background: #071e38;
    color: #fff;
    border: none;
}
.modal-header span {
    color: #fff !important;
    font-size: 28px;
}
.modal-header button.close {
    background: transparent;
    box-shadow: none;
    border: none;
    color: #fff;
    padding: 0;
}
.modal-footer button.btn.btn-info {
    background: #0E3C70;
    color: #ffff;
    font-weight: 700;
}
table.table.table-bordered {
    border-collapse: collapse !important;
    font-family: "Inter", sans-serif;
}
table.table.table-bordered thead tr
{
  font-family: "Poppins", sans-serif;
}
table.table.table-bordered thead tr th {
    background: #f5f5f5 !important;
}
table.table.table-bordered tbody tr td {
    padding: 20px !important;
}
div#employeelistingbody {
    padding-bottom: 0;
}
.graph div#employeelisting tr th {
    padding: 25px 20px !important;
}
.modal-footer {
    border: none;
    padding-top: 0;
}
.modal-footer button.btn.btn-info:hover {
    background: #0E3C70;
    transition: 0.3s;
}
div#employeelisting button.btn.btn-info {
    background: red !important;
    margin-right: 0;
}
.graph tbody tr.odd td:last-child {
    display: flex;
    gap: 11px;
    align-items: center;
}
.graph tbody tr.even td:last-child {
    display: flex;
    gap: 11px;
    align-items: center;
}
.graph a {
    margin-right: 0px !important;
}
.graph select {
    border: 1px solid #ddd !important;
    border-radius: 8px !important;
    box-shadow: 0px -1px 9px #dddddd70;
    padding: 8px 5px !important;
    font-size: 15px;
    background: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
    min-width: 80px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}
div#employee-table_paginate a.paginate_button.current {
    margin-top: 0px !important;
    margin-bottom: 0 !important;
}
div#employee-table_paginate {
    padding: 25px 5px;
    font-family: "Inter", sans-serif;
    background: transparent;
}
div#employee-table_info {
    padding: 35px 20px !important;
    background: transparent;
    font-family: "Inter", sans-serif;
}
div#employee-table_paginate a.paginate_button.current {
    background: #0d3a6b !important;
    border: none !important;
    color: #fff !important;
}
div#employee-table_length label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #333;
}
.graph .table-container div#employee-table_length {
    background: transparent !important;
}
.graph tbody tr.odd td:last-child i.fa-solid.fa-trash {
    color: red !important;
}
.graph tbody tr.even td:last-child i.fa-solid.fa-trash {
    color: red !important;
}
div#employee-table_filter input[type="search"] {
    box-shadow: 0px -1px 9px #dddddd70;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-left: 13px;
}
div#employee-table_filter {
    margin-top: 20px;
    margin-right: 5px;
}
/*-table-*/

/*-submanager-listing-*/

/*-addsubmanager-*/
.main-right.addsubmanager .form-row {
    display: flex;
    gap: 35px;
    margin-bottom: 25px;
}
.main-right.addsubmanager .form-group {
    flex: 1;
}

.main-right.addsubmanager .form-group label {
display: block;
font-weight: 500;
margin-bottom: 6px;
}

.main-right.addsubmanager .form-group input, select {
width: 100%;
padding: 12px;
border: 1px solid #ddd;
border-radius: 6px;
font-size: 14px;
background-color: #f9f9f9;
}

.main-right.addsubmanager .form-group .btn-group {
  margin-top: 15px;
}

.btn {
padding: 10px 30px;
border: none;
border-radius: 6px;
font-size: 16px;
cursor: pointer;
margin-right: 10px;
}

.btn-save {
background-color: #28a745;
color: #fff;
}

.btn-cancel {
background-color: #dc3545;
color: #fff;
}

.btn:hover {
opacity: 0.9;
 }
.main-right.addsubmanager .form-group label {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000;
    opacity: 0.8;
}
.main-right.addsubmanager .form-group input[type="text"] {
    background: transparent;
    padding: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.main-right.addsubmanager input[type="text"]::placeholder {
    color: #00000069;
	font-family: "Inter", sans-serif;
}
.main-right.addsubmanager select {
    padding: 20px 15px;
    background: transparent;
    color: #00000073;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.main-right.addsubmanager select {
	background-image: url("../images/dropdown-arrow.png");
	background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 14px;
}
.main-right.addsubmanager .btn-group {
    margin-top: 10px;
    margin-bottom: 0px;
}
.main-right.addsubmanager button.btn.btn-save {
    background: #5FBC01;
    border-radius: 10px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding: 16px 60px;
    font-size: 18px;
    font-weight: 600;
}
.main-right.addsubmanager button.btn.btn-save {
    width: 100%;
    min-width: 160px;
    height: 60px;
}
.main-right.addsubmanager button.btn.btn-cancel {
    width: 100%;
    min-width: 160px;
    height: 60px;
}
.main-right.addsubmanager .btn-group button:hover {
    color: #fff;
    transition: 0.3S;
}
.main-right.addsubmanager button.btn.btn-cancel {
    background: #FF0202;
    border-radius: 10px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding: 16px 50px;
    font-size: 18px;
    font-weight: 600;
}
.main-right.addsubmanager .form-row .btn-group
{
	font-family: "Inter", sans-serif;
}
.main-right.addsubmanager .form-row .btn-group button.btn.btn-cancel {
    background: #FF0202;
}
.main-right.addsubmanager input[type="email"] {
    padding: 20px 15px;
    background: transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #00000063;
	font-family: "Inter", sans-serif;
}
.form-group button.btn.dropdown-toggle.btn-light.bs-placeholder {
    background: transparent;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
/*-addsubmanager-*/
.menu-item.dropdown.active .submenu a {
    color: #000 !important;
}

#successModal {
    display: none; /* HIDE by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popupp {
    background: #fff;
    width: 90%;
    max-width: 750px;
    padding: 50px 100px;
    border-radius: 20px;
    border-bottom: 20px solid #5fbc0166;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: "Inter", sans-serif;
}

.success-icon i {
    font-size: 75px;
    color: #5FBC01;
}

.popupp p {
    font-size: 28px;
    color: #000 !important;
    margin-top: 15px;
}
/* Popup Box */

/*-campaignslist-*/
.graph.campaignslist tr td {
    padding: 30px 14px !important;
}
.graph.campaignslist tr td:nth-child(5) {
    text-align: center;
}
.graph.campaignslist tr td:nth-child(4) {
    text-align: center;
}
.graph.campaignslist thead.thead-main tr th:nth-child(6) {
    text-align: center;
}
.graph.campaignslist thead.thead-main tr th:nth-child(10) {
    text-align: center;
}
.graph.campaignslist tr td:nth-child(3) {
    text-align: center;
}
.graph.campaignslist .tooltip1 {
    border: none;
}
.graph.campaignslist td button {
    padding: 8px 20px;
}
.graph.campaignslist tbody td p {
    margin-bottom: 0;
    cursor: pointer;
}
.graph.campaignslist tbody tr.odd td:last-child a:hover {
    background: none !important;
}
.graph.campaignslist tbody tr.odd td:last-child {
    gap: 0px !important;
}
.graph.campaignslist tbody tr td:last-child {1
    float: right;
}
/*-campaignslist-*/

/*-addcampaigns-*/
.file-upload-section 
{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 556.54px;
}
.file-label 
{
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
.custom-file-upload {
    background-color: #0b2e57;
    color: #fff;
    padding: 17.5px 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: 0.3s;
}
.file-upload {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.custom-file-upload:hover {
  background-color: #163d71;
}
label.file-label 
{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #333333c4;
}
.custom-file-upload input[type="file"] {
  display: none;
}
#file-name {
    flex: 1;
    padding: 10px 15px;
    font-size: 18px;
    text-align: center;
    color: #0000004d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div#totalLeadsModal span.label.btn-success {
    color: #0e3c70 !important;
    font-weight: 700;
}
div#totalLeadsModal .modal-dialog.modal-dialog-scrollable.modal-lg td:nth-child(5) a {
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}
div#totalLeadsModal .modal-dialog.modal-dialog-scrollable.modal-lg td:nth-child(4), div#totalLeadsModal .modal-dialog.modal-dialog-scrollable.modal-lg td:nth-child(3), div#totalLeadsModal .modal-dialog.modal-dialog-scrollable.modal-lg td:nth-child(2)  {
    text-align: center;
}

div#totalLeadsModal .modal-dialog.modal-dialog-scrollable.modal-lg td:nth-child(5) a:hover {
    background: transparent;
}
table#employee-table tr td:nth-child(3) button {
    background: red !important;
    border: none;
    border-radius: 5px !important;
}
button.btn.btn-info {
    margin-right: 15px;
    background: red !important;
}
button.btn.btn-success.addButton {
    background: #5FBC01;
}
.graph tbody tr.odd td:last-child:hover a {
    background: none !important;
}
.graph tr td:nth-child(6) button {
    padding: 8px 20px;
}
.graph.customclass tbody tr td:last-child a {
    margin-bottom: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px !important;
    padding-bottom: 0 !important;
}
.graph.customclass td:last-child {
    gap: 5px !important;
    align-items: baseline !important;
}
/*-addcampaigns-*/

/* Popup Box */